parameters:
    level: 5
    paths:
        - toolkit
    excludePaths:
        - toolkit/public
        - toolkit/static
    scanFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
        - vendor/hawaii-interactive/wordpress-toolkit-plugin/wordpress-toolkit-plugin.php
        - vendor/hawaii-interactive/wordpress-toolkit-plugin/main.php
    scanDirectories:
        - vendor/hawaii-interactive/wordpress-toolkit-plugin/models
        - vendor/hawaii-interactive/wordpress-toolkit-plugin/utils
