// imports from another folder
@use "../base" as base;

/* == CONTAINERS == */

$grid: base.$global-grid;

@mixin grid($width: $grid) {
    max-width: $width;
    margin: 0 auto;
}

body {
    display: grid;
    // if scrolled header
    // grid-template-rows: auto 1fr auto;
    // if fixed header
    grid-template-rows: 1fr auto;
    height: 100vh;

    header {
        background-color: lightblue;
    }
    main {
        background-color: lightcyan;
    }
    footer {
        background-color: lightgreen;
    }
}

.row {
    @include grid;
}
