// imports from another folder
@use "../base" as base;

/* == GRID == */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, auto);
    grid-gap: 1em;
}
